@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

.intro{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.canvas{
    overflow:hidden;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    margin-top: auto;
    margin-bottom: auto;
    top:0;
    bottom: 0;
}

.openButton{
    width: 200px;
    border: 3px solid rgb(255, 153, 0);
    background: none;
    font-size: 27px;
    border-style: double;
    padding: 0px 2px;
    color: rgb(244, 142, 41);
    font-family: 'Bungee Inline', cursive;

    text-align: center;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    cursor: pointer;
    bottom: 100px;
    transition: 0.3s;
}

.openButton:hover{
    background-color: rgb(226, 129, 3);
    color: white;
}


@media screen and (max-width: 1300px) {
    .openButton{
        width: 150px;
        border: 3px solid rgb(255, 153, 0);
        background: none;
        font-size: 21px;
        border-style: double;
        padding: 0px 2px;
        color: rgb(244, 142, 41);
        font-family: 'Bungee Inline', cursive;
    
        text-align: center;
    
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    
        cursor: pointer;
        bottom: 20px;
        transition: 0.3s;
    }
}

@media screen and (max-width: 800px) {
    .openButton{
        width: 120px;
        border: 3px solid rgb(255, 153, 0);
        background: none;
        font-size: 19px;
        border-style: double;
        padding: 0px 2px;
        color: rgb(244, 142, 41);
        font-family: 'Bungee Inline', cursive;
    
        text-align: center;
    
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    
        cursor: pointer;
        bottom: 10px;
        transition: 0.3s;
    }
}


@media screen and (max-width: 900px) and (min-height: 617px) {
    .openButton{
        width: 200px;
        border: 3px solid rgb(255, 153, 0);
        background: none;
        font-size: 29px;
        border-style: double;
        padding: 0px 2px;
        color: rgb(244, 142, 41);
        font-family: 'Bungee Inline', cursive;
    
        text-align: center;
    
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    
        cursor: pointer;
        bottom: 30px;
        transition: 0.3s;
    }
    
}