.game {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(235, 97, 97);

  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(25, 25, 25);
}
