/* Top Part */
.transition :nth-child(1) {
  position: absolute;
  width: 100vw;
  height: 50vh;
  background-color: rgb(255, 219, 193);

  z-index: 100;
}
/* Bottom Part */
.transition :nth-child(2) {
  position: absolute;
  width: 100vw;
  height: 50vh;
  background-color: rgb(255, 219, 193);

  z-index: 100;
}
