@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');



.miniGames{
    position: absolute;
    width: 90vw;
    height: 85vh;

    top: 10vh;
    left: 5vw;
    row-gap: 65px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    overflow-y: scroll;
}


/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #161616;
    border-radius: 30px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #187391;
    border-radius: 30px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #55cdf6;
  }
