@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geo&display=swap");

.homePageInterface {
  width: 100vw;
  height: 100vh;

  background-color: rgb(255, 241, 224);
}

.gameHistoryContainer {
  position: absolute;
  width: 50vw;
  height: 40vh;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  font-family: "Geo", sans-serif;

  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.gameHistoryContainer h2 {
  text-align: center;
  font-size: 40px;
  color: rgb(172, 104, 41);
}

.gamesContainer {
  list-style: none;
  padding: 20px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.gamesItem {
  height: 100px;
}

.gamesItem ul {
  list-style: none;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.gamesItem ul li {
  color: rgb(226, 138, 5);
  font-size: 30px;
  font-weight: bold;
}

.continueButton {
  width: 200px;
  height: 40px;
  background-color: rgb(244, 132, 53);
  color: white !important;
  text-align: center;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.continueButton:hover {
  background-color: #6b3c00;
}

.homeIcon {
  position: absolute;

  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;

  width: min-content;
  height: min-content;
  font-size: 70px;
  cursor: pointer;
  color: #e15a07;

  z-index: 50;

  left: 10px;
  transition: 0.3s;
}

.homeIcon:hover {
  color: #f9bb6b;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #6b3c00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffd39a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dc783e;
}

.menu {
  position: absolute;
  left: 92px;
  z-index: 20;
  width: 0;
  transition: 0.5s;
  width: 280px;
  height: 100vh;

  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showMenu {
  opacity: 1;
  display: flex;
  background-color: rgb(50, 27, 0);
}

.menu ul {
  list-style: none;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.menu ul li {
  text-align: center;
  font-family: "Geo", sans-serif;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}
.menu ul li:hover {
  color: #ec931e;
}

@media screen and (max-width: 1325px) {
  .menu {
    width: 220px;
    height: 100vh;
  }
}
@media screen and (max-width: 1137px) {
  .gameHistoryContainer {
    position: absolute;
    width: 40vw;
    height: 60vh;
  }
  .continueButton {
    width: 140px;
    height: 30px;
    font-size: 20px !important;
  }
  .gamesItem ul li {
    font-size: 20px;
  }
  .gamesItem {
    height: 70px;
  }

  .menu ul li {
    font-size: 25px;
  }
}
@media screen and (max-width: 519px) {
  .menu {
    width: 82.5%;
    left: 17.5%;
    height: 100vh;
  }
}

@media screen and (max-width: 600px) {
  .gameHistoryContainer {
    position: absolute;
    height: 60vh;
    width: 70vw;
  }
  .homeIcon {
    position: absolute;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    margin-top: inherit;
    margin-bottom: inherit;
    bottom: inherit;

    top: 10px;

    font-size: 70px;
  }
  .continueButton {
    width: 100px;
    height: 30px;
    font-size: 20px !important;
  }
  .gameHistoryContainer h2 {
    text-align: center;
    font-size: 30px;
  }
  .gamesItem ul li {
    font-size: 17px;
  }
  .gamesItem {
    height: 70px;
  }

  .menu ul li {
    font-size: 25px;
  }

  .menu {
    width: 100%;
    left: 0%;
    top: 0vh;
    height: 100vh;
  }
}
