.gameContainer {
  position: relative;
  width: 48%;
  height: 42%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.gameBackgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  opacity: 0.2;
  filter: grayscale(100%);
  z-index: 0;
}

.miniGameBackgroundImage-1 {
  z-index: 0;
  position: absolute;
  background-image: url("../../../images/games/miniGames/wallpapers/1.jpg");
}

.name {
  font-family: "Geo", sans-serif;
  color: rgb(163, 217, 190);
  font-weight: bold;
  font-size: 35px;
  margin-top: 10px;
  width: min-content;
  z-index: 1;
}

.shortDescription {
  font-family: "Geo", sans-serif;
  color: rgb(174, 201, 202);
  font-size: 20px;
  z-index: 1;
  width: 90%;
}

.openButton {
  width: 120px;
  height: 45px;
  z-index: 10;
  margin-right: 20px;

  border: none;

  cursor: pointer;
  color: rgb(0, 3, 64);
  font-size: 30px;
  font-weight: bold;
  font-family: "Geo", sans-serif;
  background-color: rgb(0, 255, 157);
  transition: 0.3s;
}

.openButton:hover {
  background-color: rgb(0, 22, 14);
  color: rgb(238, 239, 255);
}

.indicators {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  gap: 10px;

  justify-content: space-between;
  align-items: center;
}

.indicators ul {
  list-style: none;
  width: 50%;
  height: 100%;
  display: flex;

  justify-content: left;
  align-items: center;
  gap: 20px;
  font-size: 25px;
  padding-left: 44px;
}

.indicators ul li {
  display: flex;
  gap: 3px;
  cursor: pointer;

  color: rgb(215, 217, 214);
  transition: 0.4s;
}

.indicators ul li :hover {
  color: rgb(144, 255, 129);
}

.deslikeIcon {
  transform: rotate(180deg);
}

.commentIcon {
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .gameContainer {
    width: 48%;
    height: 72%;
  }
}

@media screen and (max-width: 850px) {
  .gameContainer {
    width: 100%;
    height: 72%;
  }
}

@media screen and (max-width: 650px) {
  .openButton {
    width: 80%;
    height: 45px;
    z-index: 10;
    margin-right: 20px;

    border: none;

    cursor: pointer;
    color: rgb(0, 3, 64);
    font-size: 30px;
    font-weight: bold;
    font-family: "Geo", sans-serif;
    background-color: rgb(0, 255, 157);
    transition: 0.3s;
  }
  .gameContainer {
    width: 100%;
    height: 82%;
  }
  .indicators {
    gap: 10px;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }

  .indicators ul {
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 25px;
    padding-left: inherit;
  }

  .indicators ul li {
    justify-content: center;
    width: 30%;
  }
}

@media screen and (max-height: 600px) {
  .gameContainer {
    width: 100%;
    height: 102%;
  }
}
@media screen and (max-height: 492px) {
  .gameContainer {
    width: 100%;
    height: 122%;
  }
}
