.canvas{
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}