.centerContainer{
    position: absolute;
    width: 90vw;
    height: min-content;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;

    display: flex;

    justify-content: space-between;
}

.formContainer{
    width: 49.5%;
    border: 2px solid rgb(226, 220, 251);
}

.formTitle{
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
}

.formTitle{
    text-align: center;
    font-size: 28px;
    color: rgb(106, 62, 175);
}

.userInputDiv{
    width:60%;
    display: flex;
    margin-top: 10px;
    margin-left: 20%;
    align-items: center;
    justify-content: space-between;
}

.userInputTitle{
    font-size: 24px;
    color: rgb(146, 100, 219);

    width: 200px;
    text-align: right;
}

.userInput{
    width: 250px;
    height: 23px;
    color: rgb(146, 100, 219);

    font-size: 24px;

    outline: none;
    border: none;
    border-bottom: 0.5px solid rgb(146, 100, 219);;
}

.submitButton{
    width: 30%;
    border: none;
    margin-left: 70%;
    height: 50px;

    font-family: 'Geo', sans-serif;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;

    transition: 0.3s;
    color: black;
    background-color: rgb(229, 210, 255);
}

.submitButton:hover{
    color: white;
    background-color: rgb(130, 42, 181);
}


