@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');

.latestGameContainer{
    position: absolute;

    top: 12vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    width: 80vw;
    height: 70vh;

    display: flex;
}

.latestGameContainerBackgroundImage{
    position: absolute;
    width: 80vw;
    height: 70vh;

    transition: 0.5s;
    opacity: 0.3;
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../images/games/wallpapers/1.jpg");
}

.leftContainer{
    position: relative;
    width: 50%;
    height: 100%;
    z-index: 5;

    display: flex;
    flex-direction: column;
    padding: 20px;
}

.rightContainer{
    position: relative;
    width: 50%;
    height: 100%;
    z-index: 5;

    display: flex;
    flex-direction: column;
    padding: 20px;
}

.leftContainerBackground{
    position: absolute;
    width: 100%;
    height: 50%;

    background-color: rgb(4, 0, 22);
    opacity: 0.8;
}

.leftContainerInsideBox{
    position: absolute;
    width: 100%;
    height: 50%;

    padding: 20px;
    gap: 38px;
}

.leftContainerInsideBox div{
    color: rgb(0, 131, 126);
    letter-spacing: 0px;
    font-size: 23px;
    font-family: 'Geo', sans-serif;
}

.leftContainerInsideBox span{
    color: rgb(15, 227, 220);
}

.lastGameVideo{
    position: absolute;
    width: 92%;
    height: 92%;
    z-index: 5;

    left: 40px;
}

.playButton{
    position: absolute;
    cursor: pointer;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;  

    font-size: 35px;
    bottom: 20px;
    width: 200px;
    height: 57px;
    border: 3px solid #E68604;
    background-color: #cd6300;
    color: white;
    font-family: 'Geo', sans-serif;
    transition: 0.3s;

}

.playButton:hover{
    background-color: rgb(255, 181, 85);
}
